.Summoner {
    color: #53997a;
  }
  
  .Ninja {
    color: #a02c62;
  }

  .Samurai{
    color: #d5732c;
  }

  .Black_Mage {
    color: #9e7cd0;
  }
   
  .Monk {
    color: #ce9e35;
  }
    
  .Machinist {
    color: #8cded6;
  }

  .Dragoon {
    color: #4964c6;
  }
   
  .Red_Mage {
    color: #da817e;
  }
    
  .Dancer {
    color: #dab3b0;
  }
    
  .Bard {
    color: #9ab86a;
  } 

  .Warrior {
    color: #b8362b;
  }
    
  .Gunbreaker {
    color: #776d39;
  }
    
  .Dark_Knight {
    color: #bf3cc6;
  }
    
  .Paladin {
    color: #b1d1e4;
  }
    
  .Astrologian {
    color: #fbe768;
  }
    
  .White_Mage {
    color: #fdf1de;
  }
    
  .Scholar {
    color: #7f5ef6;
  }